
/* ---------- Imports */
@font-face {
    font-family: "Neue Machina Light";
    src: url("../fonts/NeueMachina-Light.otf");
}

@font-face {
    font-family: "Neue Machina Regular";
    src: url("../fonts/NeueMachina-Regular.otf");
}

@font-face {
    font-family: "Neue Machina UltraBold";
    src: url("../fonts/NeueMachina-Ultrabold.otf");
}

@font-face {
    font-family: "Inter Regular";
    src: url("../fonts/Inter/static/Inter-Regular.ttf");
}

@font-face {
    font-family: "Inter Bold";
    src: url("../fonts/Inter/static/Inter-Bold.ttf");
}