@use "./mixins.scss" as mix;

/* -------------------- GLOBALS */

.d-flex-row-cc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:30px;    
}

.app{
    @include mix.flex();
}

.isFlex-start{
    align-self: flex-start;
}

.mt-60{
    padding-top: 60px;
}
