@use "./mixins.scss" as mix;

/* -------------------- GLOBALS */

.d-flex-row-cc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:30px;    
}

.app{
    //@include mix.flex();
}

.isFlex-start{
    align-self: flex-start;
}

.mt-60{
    margin-top: 120px;
}

%articulo3{
    width: 296px;
    height: 176px;
    flex-wrap: nowrap;
    //Contenedor Ficha
    & > .articulo__ficha{
        width: 164px;
    }
}

.articulo-reset{
    width: 240px;
    height: 510px;
    flex-wrap: wrap;
    //Contenedor Ficha
    & > .articulo__ficha{
        width: 100%;
    }
}