@use "./variables" as var;
@use "./mixins.scss" as mix;


/* ---------- normalize */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: var.$font-NeueMcahinaRegular;
    font-size: 16px;
    outline: 0px;
}

button{
    border-style: none;
    cursor: pointer;
    @include mix.flex;
}


label{
    cursor: pointer;
}

a, Link{
    text-decoration: none;
    color: #000000;
}

main{
    overflow: hidden;
    padding: 0px 12px;

}

/* ---------- Titles H1-6 */

h1,h2,h3,h4,h5,h6{
    font-family: var.$font-NeueMcahinaUltrabold;
    font-weight: 800;
    color: #000000;
}

h1{
    font-style: normal;
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 3.5rem;
    letter-spacing: -0.03em;
    font-feature-settings: 'zero' on, 'liga' off;
}

h2{
    font-style: normal;
    font-weight: 700;
    font-size: 2.2875rem;
    line-height: 2.625rem;
    letter-spacing: -0.01em;
    font-feature-settings: 'zero' on;
}

h4{
    font-style: normal;
    font-size: 27px;
    line-height: 30px;
    font-feature-settings: 'zero' on;
    
}


.articulo{
    cursor: pointer;
}

/*   Scrollbars  */
*::-webkit-scrollbar{
    width: 19px;
    height: 19px;
    border: 1px solid #F0F0F0;
    padding: 5px;
    
}

*::-webkit-scrollbar-track{
    background-color: transparent;
}

*::-webkit-scrollbar-thumb{
    background-color: #F0F0F0;
    border-radius: 8px;
    border: 6px solid transparent;
    background-clip: content-box;

    &:hover{
        background-color: #C8C8C8;
    }

    &:active{
        background-color: #F26522;
    }
}
