@use "../../sass/variables.scss" as var;

.btn2{

    font-weight: 800;
    font-style: normal;
    line-height: 18px;
    color: var.$btn2-color;
    height: 48px;
    background-color: var.$btn2-color-bg;
    border: 2px solid var.$btn2-color-border;
    overflow: hidden;
    border-radius: 6px;
    padding: 15px, 24px, 15px, 24px;
    gap: 10px;
    box-shadow: 3px 3px 0px 0px var.$btn2-color-boxshadow;
    transition: all 0.150s ease-out;

    &:hover{
        box-shadow:none;
        border:none; 
    }

    &:active{
        box-shadow: 0px -2px 6px 0px var.$btn2-color-boxshadow1 inset;
        box-shadow: 0px 2px 6px 0px var.$btn2-color-boxshadow2  inset;

    }
}