@use "../../sass/config.scss" as config;

.btn2{
    @extend %d-flex-row-cc;
    font-weight: 800;
    font-style: normal;
    line-height: 18px;
    color: config.$white;
    width: 125px;
    height: 48px;
    background-color: config.$bg-vertodo;
    border: 2px solid config.$black-vertodo;
    overflow: hidden;
    border-radius: 6px;
    padding: 15px, 24px, 15px, 24px;
    gap: 10px;
    box-shadow: 3px 3px 0px 0px config.$black-vertodo;
    transition: all 0.150s ease-out;

    &:hover{
        box-shadow:none;
        border:none; 
    }

    &:active{
        box-shadow: 0px 2px 6px 0px rgba(255, 255, 255, 1) inset;
    }
}