@use "../../sass/variables.scss" as var;
@use "../../sass/mixins.scss" as mix;
@use "../../sass/animations.scss" as ani;

.articulo{

    width: 142px;
    height: 298px;
    padding: 0px 6px 6px;
    @include mix.flex($direction: row, $justify-content:flex-start);
    gap: 6px;

    //Contenedor Imagen
    &__containerImg{
        width: 130px;
        height: 178px;
        position: relative;
        transition: all 150ms ease;
        
        & > img.articulo__img{
            width: 100%;
            height: 100%;
        }

        & > div.promos{
            position: absolute;
            left: -3px;
            bottom: -6px;
        }

        //Imagen In Box
        .articulo > & > img#imgInBox{
            display: block;
        }

        .articulo:hover > & > img#imgInBox{
            display: none;
        }

        .articulo:active > & > img#imgInBox{
            display: block;
        }

        //Imagen Out Box
        .articulo > & > img#imgOutBox{
            display: none;
        }

        .articulo:hover > & > img#imgOutBox{
            display:block;
        }

        .articulo:active > & > img#imgOutBox{
            display:none;
        }
    }

    //Contenedor Ficha
    & > .articulo__ficha{
        @include mix.flex($direction: column,$justify-content:space-evenly,$align-items: flex-start);
        gap: 6px;

        & > .articulo__articulo{
            & > span.articulo__marca{
                display: block;
                height: 18px;
                font-size: 1rem;
                font-weight: 800;
                line-height: 18px;
                letter-spacing: 0.05rem;
                text-align: left;
                color: #7D5A94;
                text-transform: capitalize;
                font-feature-settings: 'ss01' on, 'case' on;
            }

            & > span.articulo__nombre{
                height: 30px;
                font-family: var.$font-InterRegular;
                overflow: hidden;
                font-size: 0.8125em;
                font-style: normal;
                font-weight: 400;
                line-height: 0.9375em;
                letter-spacing: 0em;
                text-align: left;
                font-feature-settings: 'ss01' on, 'case' on;
            }
        }
        
        //Section Precio
        & > .articulo__precio{

            & > div.articulo__cuota{
                &  > span.articulo__cuotaTxt{
                    font-family: var.$font-InterRegular;
                    font-size: 0.8125rem;
                    font-weight: 400;
                    line-height: 15px;
                    height: 15px;
                    color: #505050;
                    letter-spacing: 0em;
                    text-align: left;
                    overflow: hidden;
                    display: block;
                }
                &  > span.articulo__cuotaCuota{
                    font-family: var.$font-InterRegular;
                    font-size: 1rem;
                    font-weight: 700;
                    line-height: 1.125rem;
                    letter-spacing: 0em;
                    text-align: left;
                    display: block;
                }
            }

            & > div.articulo__final{
                @include mix.flex($justify-content: start,$align-items: flex-start);
                gap: 6px;
                
                &  > span.articulo__finalText{
                    font-family: var.$font-InterRegular;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 18px;
                    letter-spacing: 0em;
                    text-align: left;
                    text-transform: capitalize;
                }

                &  > span.articulo__finalAntes{
                    font-family: var.$font-InterRegular;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 18px;
                    color: #8C8C8C;
                    text-decoration: line-through;
                }
                
                &  > span.articulo__finalDespues{
                    font-family: var.$font-InterRegular;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 18px;
                    font-feature-settings: 'ordn' on, 'liga' off;
                    color:#EC2227;
                    align-self: flex-start;
                    &-sin{
                        font-family: var.$font-InterRegular;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 18px;
                        font-feature-settings: 'ordn' on, 'liga' off;
                        color:#000000;
                        align-self: flex-start;
                    }
                }
            }
        }
    }  
}

.loading{
    @include mix.flex($direction: column,$justify-content:flex-start,$align-items: flex-start);
    gap: 12px;
    padding: 9px 15px;

    &__img{
        @include ani.ani-loading-article;
        width: 100%;
        height: 288px; 
        background: #f0f0f0;
    }
    &__marca{
        @include ani.ani-loading-article;
        width: 72px;
        height: 12px;
        background: rgb(240,240,240);
    }
    &__containerTxt{
        @include mix.flex($direction: column,$justify-content:flex-start,$align-items: flex-start);
        gap: 6px;
    }
    &__txt{
        @include ani.ani-loading-article;
        width: 180px;
        height: 15px; 
        background: rgb(240,240,240);
    }
    &__precio{
        @include ani.ani-loading-article;
        width: 120px;
        height: 15px; 
        background: rgb(240,240,240);
    }
    &__btn{

        width: 60px;
        height: 48px; 
        border: 3px solid rgb(240,240,240);
        border-radius: 6px;
        margin-top: calc(27px - 12px);
    }
}