@use "../../sass/variables.scss" as var;
@use "../../sass/mixins.scss" as mix;
@use "../../sass/animations.scss" as ani;

.articulo{

    @include mix.flex($direction: row, $justify-content:flex-start);
    width: 142px;
    height: 298px;
    overflow: visible;
    padding: 0px 6px 6px;
    gap: 6px;

    //Contenedor Imagen
    &__containerImg{
        width: 130px;
        height: 178px;
        position: relative;
        transition: all 150ms ease;
        
        & > img.articulo__img{
            width: 100%;
            height: 100%;
            transition: all 150ms ease;
        }

        & > div.promos{
            position: absolute;
            left: -3px;
            bottom: -6px;
        }

        //Imagen In Box
        .articulo > & > img#imgInBox{
            display: block;
        }

        .articulo:hover > & > img#imgInBox{
            display: none;
            
        }

        .articulo:active > & > img#imgInBox{
            display: block;
        }

        //Imagen Out Box
        .articulo > & > img#imgOutBox{
            display: none;
        }

        .articulo:hover > & > img#imgOutBox{
            display:block;
        }

        .articulo:active > & > img#imgOutBox{
            display:none;
        }
    }

    //Contenedor Ficha
    & > .articulo__ficha{
        @include mix.flex($direction: column,$justify-content:space-evenly,$align-items: flex-start);
        overflow: hidden;
        gap: 6px;

        & > .articulo__articulo{
            height: 50px;
            overflow: hidden;
            & > span.articulo__marca{
                font-family: var.$font-NeueMcahinaUltrabold;
                display: block;
                overflow-y: hidden;
                height: 18px;
                font-size: 1rem;
                font-weight: 800;
                line-height: 18px;
                letter-spacing: 0.05rem;
                text-align: left;
                color: #7D5A94;
                text-transform: capitalize;
                font-feature-settings: 'ss01' on, 'case' on;
            }

            & > span.articulo__nombre{
                display: inline-block;
                height: 30px;
                font-family: var.$font-InterRegular;
                overflow: hidden;
                font-size: 0.8125rem;
                font-style: normal;
                font-weight: 400;
                line-height: 0.9375rem;
                letter-spacing: 0rem;
                text-align: left;
                text-overflow: ellipsis;
                font-feature-settings: 'ss01' on, 'case' on;
            }
        }
        
        //Section Precio
        & > .articulo__precio{

            & > div.articulo__cuota{
                &  > span.articulo__cuotaTxt{
                    font-family: var.$font-InterRegular;
                    font-size: 0.8125rem;
                    font-weight: 400;
                    line-height: 15px;
                    height: 15px;
                    color: #505050;
                    letter-spacing: 0em;
                    text-align: left;
                    overflow: hidden;
                    display: block;
                }
                &  > span.articulo__cuotaCuota{
                    font-family: var.$font-InterRegular;
                    font-size: 1rem;
                    font-weight: 700;
                    line-height: 1.125rem;
                    letter-spacing: 0em;
                    text-align: left;
                    display: block;
                }
            }

            & > div.articulo__final{
                @include mix.flex($justify-content: start,$align-items: flex-start);
                gap: 3px;
                
                &  > span.articulo__finalText{
                    font-family: var.$font-InterRegular;
                    font-size: 0.8125rem;
                    font-weight: 400;
                    line-height: 18px;
                    letter-spacing: 0em;
                    text-align: left;
                    text-transform: capitalize;
                }

                &  > span.articulo__finalAntes{
                    font-family: var.$font-InterRegular;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 0.8125rem;
                    line-height: 18px;
                    color: #8C8C8C;
                    text-decoration: line-through;
                }
                
                &  > span.articulo__finalDespues{
                    font-family: var.$font-InterRegular;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 0.8125rem;
                    line-height: 18px;
                    font-feature-settings: 'ordn' on, 'liga' off;
                    color:#EC2227;
                    align-self: flex-start;
                    &-sin{
                        font-family: var.$font-InterRegular;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 0.8125em;
                        line-height: 18px;
                        font-feature-settings: 'ordn' on, 'liga' off;
                        color:#000000;
                        align-self: flex-start;
                    }
                }
            }
        }

        & > .btn1{
            display: none;
        }
    }  
}

.loading{
    @include mix.flex($direction: column,
    $justify-content:center,
    $align-items: stretch,
    $flex-wrap:nowrap);
    gap: 6px;
    width: 142px;
    height: 298px;
    overflow: visible;
    padding: 0px 6px 6px;

    &__img{
        @include ani.ani-loading-article;
        width: 91.5%;
        height: 59.7315%; 
        background: #f0f0f0;
    }
    &__marca{
        @include ani.ani-loading-article;
        width: 50.07%;
        height: 12px;
        background: rgb(240,240,240);
    }
    &__containerTxt{
        @include mix.flex($direction: column,$justify-content:flex-start,$align-items: flex-start);
        gap: 3px;
    }
    &__txt{
        @include ani.ani-loading-article;
        width: 100%;
        height: 15px; 
        background: rgb(240,240,240);
    }
    &__precio{
        @include ani.ani-loading-article;
        width: 80%;
        height: 15px; 
        background: rgb(240,240,240);
    }
    &__btn{
        display: none;
        width: 42.2535211%;
        height: 48px; 
        border: 3px solid rgb(240,240,240);
        border-radius: 6px;
        margin-top: calc(27px - 12px);
    }
}

@media screen and (min-width: var.$screen-width-desktop) {

    .articulo{
        overflow: initial;
        width: 240px;
        height: 510px;
        padding: 6px 12px 15px;
        gap: 12px;

        //Contenedor Imagen
        &__containerImg{
            width: 210px;
            height: 288px;
            position: relative;
        }

        //Contenedor Ficha
        & > .articulo__ficha{
            overflow: initial;
            gap: 12px;

            & > .articulo__articulo{
                height: 54px;
                overflow: initial;
            
                & > span.articulo__nombre{
                    max-height: 36px;
                    overflow: visible;
                    font-size: 0.9375rem;
                    line-height: 1.125rem;
               
                }
            }
            //Section Precio
            & > .articulo__precio{

                & > div.articulo__cuota{
                    &  > span.articulo__cuotaTxt{
                        font-size: 0.9375rem;
                        line-height: 1.125rem;
                        height: 1.125rem;
                        overflow: visible;
                    }

                    &  > span.articulo__cuotaCuota{
                        font-size: 1.375rem;
                        line-height: 1.5rem;
                    }
                }

                & > div.articulo__final{
                    margin-top: 6px;
                    gap: 6px;
                    
                    &  > span.articulo__finalText{
                        font-size: 0.9375rem;
                        line-height: 1.125rem;
                    }

                    &  > span.articulo__finalAntes{
                        font-size: 0.9375rem;
                        line-height: 1.125rem;
                    }
                    
                    &  > span.articulo__finalDespues{
                        font-size: 1rem;
                        line-height: 1.125;
                        &-sin{
                            font-size: 1em;
                            line-height: 1.125em;
                            color:#000000;
                        }
                    }
                }
                
            }
            & > .btn1{
                display: flex;
            }
        }
        &:hover > .articulo__ficha > .btn1{
            display: flex;
            width: 147px;
            color: var.$btn1-color-hover;
            background-color: var.$btn1-color-bg-hover;
            border: none;
   
            span{
                display: block;
            }
            svg{
                path{
                    fill: var.$btn1-color-active;
                }
            }
        }
        &:active > .articulo__ficha > .btn1{
            box-shadow: 0px -2px 6px 0px var.$btn1-color-boxshadow1 inset;
            box-shadow: 0px 2px 6px 0px var.$btn1-color-boxshadow2 inset;
        }
    }
    
    .loading{
        @include mix.flex($direction: column,
        $justify-content:center,
        $align-items: stretch,
        $flex-wrap:nowrap);
        gap: 12px;
        width: 240px;
        height: 510px;
        overflow: visible;
        padding: 6px 12px 15px;
            
        &__btn{
            display: block;
            width: 27.777%;
        }
    }
}