@use "../../sass/variables.scss" as var;
@use "../../sass/mixins" as mix;

.btn4{
  
    background-color: var.$btn4-color-bg;
    color: var.$btn4-color;
    height: 12px;
    width: 43px;
    font-size: 10px;
    font-weight: 800;
    line-height: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    transition: all 0.150s ease-out;

    span{
        display: block;
        font-size: 1em;
    }

    &:hover{
        color: var.$btn4-color-hover;
    }

    &:active{
        color: var.$btn4-color-active;
    }
}
