@use "../../../sass/mixins.scss" as mix;
@use "../../../sass/variables.scss" as var;
@use "../../../sass/globals.scss" as global;

.mostWanted{
    margin-top: 36px;
    @include mix.flex($justify-content:space-between);

    &__title{
        width: 145px;
        height: 60px;
        color:#76B043;
    }
}

@media screen and (min-width: var.$screen-width-desktop) {
    .mostWanted{
        margin-top: 90px;
    }
}