@use "../../sass/mixins.scss" as mix;
@use "../../sass/variables.scss" as var;

.app{
    & > .main{
       #beneficios__mobile{
        //@include mix.flex($flex-wrap:nowrap);
        display: none;
        overflow: hidden;
       }
       #beneficios__desktop{
        display: none;
       }
    }
}

@media screen and (min-width: var.$screen-width-desktop) {
    .app{
        & > .main{
           #beneficios__mobile{
            display: none;
           }
           #beneficios__desktop{
            @include mix.flex();
           }
        }
    }
}