@use "../../sass/mixins.scss" as mix;
@use "../../sass/variables.scss" as var;

.app{
    & > .header {
        position: fixed;
        top: 0px;
        z-index: 1;
        box-shadow: 0px 0px 10px 2px rgb(125 90 148 / 50%);
    }
    & > .main{
        margin-top: 126px;
       #beneficios__mobile{
        //@include mix.flex($flex-wrap:nowrap);
        display: none;
        overflow: hidden;
       }
       #beneficios__desktop{
        display: none;
       }
    }
}

@media screen and (min-width: var.$screen-width-desktop) {
    .app{
        & > .main{
           #beneficios__mobile{
            display: none;
           }
           #beneficios__desktop{
            @include mix.flex();
           }
        }
    }
}