@use "../../sass/variables.scss" as var;

.btn1{
    
    font-weight: 800;
    font-style: normal;
    line-height: 18px;
    letter-spacing: 0.05em;
    font-feature-settings: 'ss01' on, 'case' on;
    color: var.$btn1-color;
    width: 60px;
    height: 48px;
    background-color: var.$btn1-color-bg;
    border: 2px solid var.$btn1-color-border;
    overflow: hidden;
    border-radius: 6px;
    padding: 6px 12px;
    gap: 6px;
    transition: all 0.150s ease-in;
    
    span{
        display: none;
        color: var.$btn1-color-hover;
        transition: all 0.150s ease;
    }

    svg{
        width: 36px;
        height: 36px;

        path{
            fill: var.$compra;
        }
    }
    
    &:hover{
        width: 147px;
        color: var.$btn1-color-hover;
        background-color: var.$btn1-color-bg-hover;
        border: none;
       
        span{
            display: block;
        }
        svg{
            path{
                fill: var.$btn1-color-active;
            }
        }
    }

    &:active{
        box-shadow: 0px -2px 6px 0px var.$btn1-color-boxshadow1 inset;
        box-shadow: 0px 2px 6px 0px var.$btn1-color-boxshadow2 inset;
    }
}

@media screen and (min-width: var.$screen-width-tablet) {
    
}