@use "../../sass/mixins.scss" as mix;
@use "../../sass/variables.scss" as var;

.glide__slide--active > img.slide__img{
    border-radius: 3px;
} 

.marcas{
    
    @include mix.flex($direction:column);
    width: 100%;
    height: 136px;
    margin-top: 48px;
    overflow: hidden;
    gap: 6px;

    &__container{
        width: 100%;
    }
    
    &__title{
        color: #7D5A94;
        text-align: center;
    }
    
    &__slideLogos{
        @include mix.flex();
        width: 133px;
        height: 60px;
        gap: 18px;
    }

    &__logos{
        width: 133px;
        height: 60px;
    }

    //Setting Glide Slider
    & > .glide {
        @include mix.flex($direction:row,$flex-wrap:nowrap);
        height: 96px;
        
        & > .glide__track{
            & > .glide__slides{  
                & > .glide__slide { 
                    @include mix.flex($direction:row,$flex-wrap:nowrap);
                    height: 65px;
                    img{
                        width: 133px;
                        height: 60px;
                        padding: 12px 24px;
                        border-radius: 9px;
                        box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.15);
                    }
                }
            }    
        }       
        
        & > .glide__arrows{
            display: none;
        } 
    }  
}
@media screen and (min-width: var.$screen-width-desktop) {
    .marcas{
        height: 144px;

        & > .glide {
            flex-direction: row-reverse;
            height: 108px;
            
            & > .glide__track{
                & > .glide__slides{  
                    & > .glide__slide { 
                        @include mix.flex($direction:row,$flex-wrap:nowrap);
                        height: 65px;
                        img{
                            width: 133px;
                            height: 60px;
                            padding: 12px 24px;
                            border-radius: 9px;
                            box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.15);
                        }
                    }
                }    
            }       
            
            & > .glide__arrows{
                @include mix.flex($direction:row, 
                    $flex-wrap:nowrap, 
                    $justify-content:space-between);
                width: 120px;
                height: 48px;
                gap: 24px;

                & > .control{
                    width: 48px;
                    height: 48px; 
                }
            } 
        } 
    }
    
}