@use "../../../sass/variables.scss" as var;
@use "../../../sass/mixins.scss" as mix;
@use "../../../sass/animations.scss" as ani;

.carrusel{
    margin-top: 60px;
    
    &__containerTitle{
        @include mix.flex($justify-content: space-between, $direction:column, $align-items: flex-start);
        height: 60px;
    }


    &__title{
        font-weight: 800;
        font-size: 27px;
    }

    &__link{
        text-transform: uppercase;
        font-style: normal;
        font-weight: 800;
        font-size: 10px;
        line-height: 12px;
        margin-left: 6px;
    }

    & > ul.glide__slides{
        margin-top: 27px;
    }

    .glide__arrows{
        margin-top: 12px;
        @include mix.flex($direction: row, $justify-content:space-between, $align-items:flex-end);

        .arrows__container{
            @include mix.flex($direction: row, $justify-content:flex-start);
            gap: 24px;
        }

        > .glide__information{
            font-family: var.$font-InterRegular;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
        }
    }

}
@media screen and (min-width: var.$screen-width-desktop) {
    .carrusel{
        &__containerTitle{
            flex-direction: row;
            justify-content: flex-start;
        }

        &__link{
            margin-top: 24px;
            color: #8C8C8C;
        }
    }
}